.rps-container {
    text-align: center;
}
  
.regu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.regu-button {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* 縦方向配置を維持 */
    align-items: center; /* 水平方向中央揃えを維持 */
    justify-content: space-between; /* レグ名とWIN/LOSEを上下に配置 */
    transition: background-color 0.3s ease;
}
  
.regu-label {
    display: block;
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
}
  
  
.result-label {
      font-size: 1.5em;
      font-weight: bold;
      text-shadow: 2px 2px 4px #000000;
      color: white;
}
  
  
  
.win {
    background-color: gold;
    color: black;
}
.win .regu-label {
    color: black;
}
  
.lose {
    background-color: lightblue;
    color: black;
}
.lose .regu-label {
    color: black;
}

/* コールメッセージ */
.callMsgContainer {
	margin-top: 10px;
}
.callMsgArea {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 2px;
}
.callMsgLine {
	height: 2px;
	background: linear-gradient(to right, transparent, yellow, transparent);
}
#callMsg {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}