.rps-container {
    text-align: center;
}
  
.regu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.regu-button {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}
  
.regu-label {
    display: block;
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
} 
  
.win {
    background: linear-gradient(  to right,  rgba(202, 138, 4, 1),  rgba(234, 204, 8, 1),  rgba(202, 138, 4, 1));
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 
        0 0 5px rgba(255,215,0,0.8),
        0 0 10px rgba(255,215,0,0.7),
        0 0 15px rgba(255,215,0,0.5),
        0 0 20px rgba(255,215,0,0.3);
}
.win .regu-label {
    font-size: 24px;
    color: black;
    letter-spacing: 2px;
    text-shadow: 0 1px 0 #444;
}

.lose {    
    font-size: 18px;
    font-weight: bold;
    color: #A9A9A9;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
}
.lose .regu-label {
    font-size: 18px;
    font-weight: bold;
    color: #A9A9A9;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    letter-spacing: 1px;
}

/* コールメッセージ */
.callMsgContainer {
	margin-top: 10px;
}
.callMsgArea {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 2px;
}
.callMsgLine {
	height: 2px;
	background: linear-gradient(to right, transparent, yellow, transparent);
}
#callMsg {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}